.about {
  padding: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--color-n-pale-blue);
  margin: 0 auto;
  position: relative; }
  .about__info {
    padding: 5rem; }

@media only screen and (max-width: 940px) {
  .about {
    flex-direction: column; } }

:root {
  --color-p: hsl(170, 45%, 43%);
  --color-p-dark: hsl(240, 75%, 98%);
  --color-n-dark-cyan: hsl(192, 100%, 9%);
  --color-n-pale-blue: hsl(207, 100%, 98%);
  --color-btn-p: hsl(224, 93%, 58%);
  --color-btn-p-light: hsl(224, 93%, 58%, 0.8);
  --color-violet: hsl(257, 40%, 49%);
  --color-magenta: hsl(300, 69%, 71%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: url(/images/bg-section-bottom-desktop-1.svg);
  background-repeat: no-repeat; }

@media only screen and (min-width: 1440px) {
  body {
    background-image: none; } }

.card {
  width: 31rem;
  border-radius: 1rem;
  background-color: var(--color-p-dark);
  overflow: hidden;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4); }
  .card__description {
    padding: 2rem; }
  .card__thumbnail {
    background-size: cover;
    height: 32rem; }
    .card__thumbnail--1 {
      background-image: url(../images/sp-1.jpg); }
    .card__thumbnail--2 {
      background-image: url(../images/sp-2.jpg); }
    .card__thumbnail--3 {
      background-image: url(../images/sp-3.jpg); }

.btn-group {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem; }

.fp {
  justify-content: flex-start; }

.fp > * {
  margin-right: 2rem; }

.btn:link,
.btn:visited {
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  font-size: 1.3rem;
  background-color: var(--color-btn-p);
  color: #fff;
  text-decoration: none; }

.btn:hover {
  background-color: var(--color-btn-p-light); }

.btn:active {
  background-color: var(--color-violet); }

@media only screen and (max-width: 1240px) {
  .card {
    width: 100%; }
  .card:not(:last-child) {
    margin-bottom: 4rem; }
  .btn-group {
    justify-content: flex-start; }
  .btn-group > * {
    margin-right: 2rem; } }

.contact-line {
  text-align: center;
  font-size: 1.3rem; }

.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.contact-img {
  width: 15rem; }

.email-box {
  display: flex;
  flex-direction: column;
  align-items: center; }

.email-box p {
  font-size: 1.3rem;
  margin-bottom: 1rem; }

footer {
  padding: 5.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/bg-section-top-desktop-2.svg");
  background-repeat: no-repeat; }

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

ion-icon,
.fab {
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-p);
  color: var(--color-p); }

ion-icon {
  padding: 8px;
  margin-right: 1.5rem; }

.fab {
  margin-right: 1.5rem;
  padding: 8px 12px;
  border-radius: 100%; }

ion-icon:hover,
.fab:hover {
  color: var(--color-magenta);
  border-color: var(--color-magenta); }

footer p {
  font-size: 1.2rem; }

@media only screen and (min-width: 1440px) {
  footer {
    background-image: none; } }

.nav {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem; }
  .nav a:hover {
    color: #ff52bf;
    text-decoration: none; }
  .nav__logo {
    font-size: 2.5rem;
    font-weight: 700; }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1rem; }
    .nav__list li {
      font-size: 1.8rem; }
    .nav__list li:not(:last-child) {
      margin-right: 5rem; }
    .nav__list a:link,
    .nav__list a:visited {
      text-decoration: none; }
    .nav__list a:hover {
      color: #ff52bf; }
    .nav__list a:active {
      color: #808d99; }

@media only screen and (min-width: 1440px) {
  .nav {
    border-bottom: 4px solid var(--color-n-pale-blue); } }

@media only screen and (max-width: 500px) {
  .nav__list li:not(:last-child) {
    margin-right: 2rem; } }

.projects {
  padding: 7rem;
  border-bottom: 2px solid var(--color-n-pale-blue); }

.side-projects {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem; }

.project {
  display: flex;
  justify-content: space-between; }
  .project__definition {
    margin-right: 1rem; }
  .project__thumbnail {
    border-radius: 1rem;
    height: 50rem; }

.technology-list {
  list-style: circle;
  font-size: 1.3rem; }

@media only screen and (max-width: 1240px) {
  .side-projects {
    flex-direction: column; }
  .project {
    flex-direction: column; }
  .project:not(:last-child) {
    margin-bottom: 4rem; }
  .project__thumbnail {
    height: 100%; }
  .big-thumbnail-img {
    width: 100%; } }

.primary-heading {
  font-size: 4rem;
  font-family: "Georgia", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.name {
  color: var(--color-p);
  font-weight: normal; }

.surname {
  color: var(--color-n-dark-cyan); }

.info {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.aboutme {
  font-size: 1.3rem;
  width: 80%; }

.secondary-heading {
  font-size: 3rem;
  font-family: "Georgia", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center; }

.tertiary-heading {
  font-size: 2rem;
  margin-bottom: 2rem; }

.project-name {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.project-description {
  font-size: 1.3rem;
  margin-bottom: 1rem; }

@media only screen and (max-width: 940px) {
  .primary-heading,
  .info {
    text-align: center; }
  .aboutme {
    text-align: left;
    width: 100%; } }
