.about {
  padding: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--color-n-pale-blue);
  margin: 0 auto;
  position: relative;
  &__info {
    padding: 5rem;
  }
}

@media only screen and (max-width: 940px) {
  .about {
    flex-direction: column;
  }
}
