:root {
  --color-p: hsl(170, 45%, 43%);
  --color-p-dark: hsl(240, 75%, 98%);

  --color-n-dark-cyan: hsl(192, 100%, 9%);
  --color-n-pale-blue: hsl(207, 100%, 98%);

  --color-btn-p: hsl(224, 93%, 58%);
  --color-btn-p-light: hsl(224, 93%, 58%, 0.8);
  --color-violet: hsl(257, 40%, 49%);
  --color-magenta: hsl(300, 69%, 71%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: url(/images/bg-section-bottom-desktop-1.svg);
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: none;
  }
}
