.contact-line {
  text-align: center;
  font-size: 1.3rem;
}

.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-img {
  width: 15rem;
}

.email-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-box p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

footer {
  padding: 5.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/bg-section-top-desktop-2.svg");
  background-repeat: no-repeat;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ion-icon,
.fab {
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-p);
  color: var(--color-p);
}

ion-icon {
  padding: 8px;
  margin-right: 1.5rem;
}

.fab {
  margin-right: 1.5rem;
  padding: 8px 12px;
  border-radius: 100%;
}

ion-icon:hover,
.fab:hover {
  color: var(--color-magenta);
  border-color: var(--color-magenta);
}

footer p {
  font-size: 1.2rem;
}

@media only screen and (min-width: 1440px) {
  footer {
    background-image: none;
  }
}
