.nav {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;

  a:hover {
    color: hsl(322, 100%, 66%);
    text-decoration: none;
  }

  &__logo {
    font-size: 2.5rem;
    font-weight: 700;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1rem;

    li {
      font-size: 1.8rem;
    }

    li:not(:last-child) {
      margin-right: 5rem;
    }

    a:link,
    a:visited {
      text-decoration: none;
    }

    a:hover {
      color: hsl(322, 100%, 66%);
    }

    a:active {
      color: hsl(208, 11%, 55%);
    }
  }
}

@media only screen and (min-width: 1440px) {
  .nav {
    border-bottom: 4px solid var(--color-n-pale-blue);
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    &__list {
      li:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
