.projects {
  padding: 7rem;
  border-bottom: 2px solid var(--color-n-pale-blue);
}

.side-projects {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.project {
  display: flex;
  justify-content: space-between;

  &__definition {
    margin-right: 1rem;
  }

  &__thumbnail {
    border-radius: 1rem;
    height: 50rem;
  }
}

.technology-list {
  list-style: circle;
  font-size: 1.3rem;
}

@media only screen and (max-width: 1240px) {
  .side-projects {
    flex-direction: column;
  }

  .project {
    flex-direction: column;
  }
  .project:not(:last-child) {
    margin-bottom: 4rem;
  }

  .project__thumbnail {
    height: 100%;
  }

  .big-thumbnail-img {
    width: 100%;
  }
}
